{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "import/prefer-default-export": "off"
  },
  "globals": {
    "angular": true,
    "adobe": true,
    "inject": true,
    "it": true,
    "expect": true,
    "spyOn": true,
    "describe": true,
    "afterEach": true,
    "TestElement": true,
    "beforeEach": true,
    "moment": true,
    "jasmine": true,
    "TestUtils": true,
    "xit": true,
    "afterAll": true,
    "beforeAll": true,
    "xdescribe": true,
    "fdescribe": false,
    "using": true,
    "IScroll": true,
    "all": true,
    "xall": true,
    "document": true,
    "google": true,
    "Event": true,
    "window": true,
    "CustomEvent": true,
    "R": true,
    "Fingerprint2": true
  }
}