service: quest-server-parser

provider:
  name: aws
  runtime: nodejs10.x
  region: eu-central-1
  stage: prod
  environment:
    MONGO_ATLAS_User: ${ssm:Mongo_Atlas_Quest_user}
    MONGO_ATLAS_Password: ${ssm:Mongo_Atlas_Quest_pass~true}

functions:
  getGames:
    handler: get-games.gamesHandler
    events:
      - http: 'GET /games'
  getGameDetails:
    handler: get-game-data.gameDetailsHandler
    events:
      - http: 'GET /game'
  updateGame:
    handler: update-levels.updateLevelsHandler
    events:
      - http: 'PUT /games/{proxy+}'
  monitoring:
    handler: monitoring.handler
    environment:
      EN_LOGIN: ${ssm:EN_LOGIN}
      EN_PASSWORD: ${ssm:EN_PASSWORD~true}
    events:
      - http: 'GET /game-monitoring'
  monitoring-details:
    handler: monitoring-details.monitoringHandler
    events:
      - http: 'GET /game-monitoring-details'
  monitoring-codes:
    handler: monitoring-codes.monitoringCodesHandler
    events:
      - http: 'GET /game-monitoring-codes-list'

plugins:
  - serverless-plugin-typescript
  - serverless-offline

custom:
  serverless-offline:
    dontPrintOutput: true
